<template>
  <div class="home d-flex justify-content-center">
    <map-component/>
  </div>
</template>

<script>
// @ is an alias to /src
import MapComponent from '../components/MapComponent.vue'

export default {
  name: 'Home',
  components: {
    MapComponent
  }
}
</script>

<style scoped>
  .home{
    width: 100%;
    height: 100%;
  }
</style>
