<template>
  <section class="w-75 px-3 py-0">
      <div id="map"></div>
  </section>
</template>

<script>
import leaflet from 'leaflet'

export default {
    data(){
        return{            
            token: "pk.eyJ1IjoiZ3JpbmdvLXVhIiwiYSI6ImNsMTk3NHE3eDEzaWszanBmdHFmMHhmcG4ifQ.Lxn100w7cmJLnBGWz2cFvw",
        }
    },
    mounted(){
        let map = leaflet.map('map').setView([51.505, -0.09], 13)
        
        leaflet.tileLayer(`https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}`, {
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: this.token
        }).addTo(map);
    }
}
</script>

<style>
    section{
        background-color: aquamarine;
        height: 100%;
    }
    #map{
        height: 400px;
        width: 600px;
    }
    
</style>