<template>
  <router-view/>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100vh;
  width: 100vw;
  /* color: #2c3e50; */
}

#nav {
  padding: 30px;
}

#nav a {
  /* font-weight: bold; */
  color: #fff;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

@import '~bootstrap/dist/css/bootstrap.css'
</style>
